cpl-crm-salesforce/force-app/main/default/flows/App_Send_Materials_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send the materials review link to the applicant's PersonEmail from the org-wide crm-intake mailbox.</description>
        <name>Send_Materials_Email</name>
        <label>Send Materials Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Save_App_Materials_Sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_App.Applicant_Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your CPL Scholar Application - submit your materials</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBodyText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_App.Applicant_Account__r.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>crm-intake@climbpauselift.org</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <choices>
        <name>Action_Send_Email</name>
        <choiceText>Send the materials link via Salesforce email now</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SendEmail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Action_Manual_Sent</name>
        <choiceText>I already sent the link manually - just mark this step done</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MarkSent</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Route based on whether the user wants the flow to send the email or just mark the step done.</description>
        <name>Decision_Action</name>
        <label>Send Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Save_App_Materials_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mark Sent (manual)</defaultConnectorLabel>
        <rules>
            <name>Is_Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Action_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SendEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Materials_Email</targetReference>
            </connector>
            <label>Send via Salesforce</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip the Task update if the seeded Task is missing.</description>
        <name>Has_Materials_Task</name>
        <label>Has Materials Task?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Materials_Sent_Done</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Task Missing</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Materials_Task.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Materials_Task</targetReference>
            </connector>
            <label>Yes - Has Task</label>
        </rules>
    </decisions>
    <description>Step 3 of the Application action plan. The intake host enters or confirms the Materials_Form_URL__c and picks whether to send it via the crm-intake mailbox or mark it as sent manually. Either way, the URL is saved on the Application and the "Send materials for review link" Task is marked complete.</description>
    <environments>Default</environments>
    <formulas>
        <description>Email body composed from the applicant's first name and the materials form URL captured on the screen.</description>
        <name>emailBodyText</name>
        <dataType>String</dataType>
        <expression>&quot;Hi &quot; &amp; {!Get_App.Applicant_Account__r.FirstName} &amp; &quot;,&quot; &amp; BR() &amp; BR() &amp; &quot;Thank you for confirming your interest in the CPL Scholar program. Please use the link below to submit your application materials (resume, essay, and recommendations):&quot; &amp; BR() &amp; BR() &amp; {!Materials_URL} &amp; BR() &amp; BR() &amp; &quot;If you have any questions, just reply to this email.&quot; &amp; BR() &amp; BR() &amp; &quot;Best,&quot; &amp; BR() &amp; &quot;CPL Team&quot;</expression>
    </formulas>
    <formulas>
        <description>Default value for the Materials_URL screen input. Order of precedence: (1) any URL already saved on the application, (2) the JotForm base URL from CPL_Config Custom Setting with prefill params appended (appId, firstName, lastName, email — URL-encoded), (3) empty so the user pastes one in.</description>
        <name>defaultMaterialsURL</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_App.Materials_Form_URL__c})),
  {!Get_App.Materials_Form_URL__c},
  IF(NOT(ISBLANK({!$Setup.CPL_Config__c.JotForm_Materials_Base_URL__c})),
    {!$Setup.CPL_Config__c.JotForm_Materials_Base_URL__c}
      &amp; &quot;?appid=&quot; &amp; {!recordId}
      &amp; &quot;&amp;q3_fullname1%5Bfirst%5D=&quot; &amp; URLENCODE(BLANKVALUE({!Get_App.Applicant_Account__r.FirstName}, &quot;&quot;))
      &amp; &quot;&amp;q3_fullname1%5Blast%5D=&quot; &amp; URLENCODE(BLANKVALUE({!Get_App.Applicant_Account__r.LastName}, &quot;&quot;))
      &amp; &quot;&amp;q4_email2=&quot; &amp; URLENCODE(BLANKVALUE({!Get_App.Applicant_Account__r.PersonEmail}, &quot;&quot;)),
    &quot;&quot;))</expression>
    </formulas>
    <interviewLabel>App Send Materials Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>App Send Materials Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_App</name>
        <label>Get Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Capture_Materials_Send</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Prospect_Scholar_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Materials_Task</name>
        <label>Get Materials Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Materials_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send materials for review link</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Save the materials form URL on the Application so future steps can reference it.</description>
        <name>Save_App_Materials_Sent</name>
        <label>Save App Materials Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Materials_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Materials_Form_URL__c</field>
            <value>
                <elementReference>Materials_URL</elementReference>
            </value>
        </inputAssignments>
        <object>Prospect_Scholar_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Materials_Task</name>
        <label>Complete Materials Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Materials_Sent_Done</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Materials_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>Capture_Materials_Send</name>
        <label>Send Materials Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Action</targetReference>
        </connector>
        <fields>
            <name>Intro_Header</name>
            <fieldText>&lt;p&gt;Send the materials submission link to &lt;strong&gt;{!Get_App.Applicant_Account__r.Name}&lt;/strong&gt; at &lt;strong&gt;{!Get_App.Applicant_Account__r.PersonEmail}&lt;/strong&gt;. If you don&apos;t have a URL yet, paste it in now and we&apos;ll save it on this application.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Materials_URL</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultMaterialsURL</elementReference>
            </defaultValue>
            <fieldText>Materials form URL</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Send_Action_Choice</name>
            <choiceReferences>Action_Send_Email</choiceReferences>
            <choiceReferences>Action_Manual_Sent</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How should this be sent?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Materials_Sent_Done</name>
        <label>Materials Link Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Done_Text</name>
            <fieldText>&lt;p&gt;&#9989; Step complete. {!Get_App.Applicant_Account__r.Name} now has the materials submission link. Next: confirm when all 4 materials are received.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Error</name>
        <label>Flow Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&#10060; Something went wrong:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_App</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>The Prospect Scholar Application Id passed in from the Action Plan stepper LWC.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
