cpl-crm-salesforce/force-app/main/default/flows/App_Confirm_Materials.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send request email to the coach / professor with the recommender JotForm link.</description>
        <name>Send_Coach_Email</name>
        <label>Send Coach Request Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Decision_Send_Intern</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Confirm_Coach_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Recommendation letter request for a CPL Scholar applicant</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>coachEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>crm-intake@climbpauselift.org</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Send request email to the internship supervisor with the recommender JotForm link.</description>
        <name>Send_Intern_Email</name>
        <label>Send Internship Supervisor Request Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_Materials_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Confirm_Intern_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Recommendation letter request for a CPL Scholar applicant</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>internEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>crm-intake@climbpauselift.org</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <decisions>
        <description>If all 4 materials are confirmed received, advance Application_Status__c to In Review.</description>
        <name>Decision_All_Received</name>
        <label>All Received?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Send_Coach</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partial</defaultConnectorLabel>
        <rules>
            <name>Yes_All</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_Resume</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Confirm_Essay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Confirm_Coach</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Confirm_Intern</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Status_InReview</targetReference>
            </connector>
            <label>Yes - All 4 received</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the user toggled "send request to coach" AND a coach email is present, send the request.</description>
        <name>Decision_Send_Coach</name>
        <label>Send Coach Request?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Send_Intern</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Coach</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Send_Coach_Request_Toggle</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Confirm_Coach_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Coach_Email</targetReference>
            </connector>
            <label>Yes - Send Coach Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the user toggled "send request to internship supervisor" AND an email is present, send the request.</description>
        <name>Decision_Send_Intern</name>
        <label>Send Intern Request?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Materials_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Intern</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Send_Intern_Request_Toggle</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Confirm_Intern_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Intern_Email</targetReference>
            </connector>
            <label>Yes - Send Intern Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip the Task update if the seeded "Confirm materials" Task is missing.</description>
        <name>Has_Materials_Task</name>
        <label>Has Materials Task?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Materials_Confirmed_Done</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Task Missing</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Materials_Task.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Materials_Task</targetReference>
            </connector>
            <label>Yes - Has Task</label>
        </rules>
    </decisions>
    <description>Step 4 of the Application action plan. The intake host reviews what's attached and checks which materials are received. If the Coach or Internship Supervisor recommendation isn't received yet, they can optionally send the recommender an email with a JotForm link to upload their letter directly. If all 4 are confirmed, advances Application_Status__c to "In Review".</description>
    <environments>Default</environments>
    <formulas>
        <description>URL for the recommender JotForm (coach branch). Composes base URL + appid + recType=Coach + applicant name + recommender name.</description>
        <name>coachRequestURL</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Setup.CPL_Config__c.Recommender_JotForm_Base_URL__c}),
  &quot;(Recommender JotForm URL not configured in CPL Config Custom Setting)&quot;,
  {!$Setup.CPL_Config__c.Recommender_JotForm_Base_URL__c}
    &amp; &quot;?appid=&quot; &amp; {!recordId}
    &amp; &quot;&amp;recType=Coach&quot;
    &amp; &quot;&amp;applicantName=&quot; &amp; URLENCODE(BLANKVALUE({!Get_App.Applicant_Account__r.FirstName}, &quot;&quot;))
    &amp; &quot;&amp;recName=&quot; &amp; URLENCODE(BLANKVALUE({!Confirm_Coach_Name}, &quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <description>URL for the recommender JotForm (internship supervisor branch).</description>
        <name>internRequestURL</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Setup.CPL_Config__c.Recommender_JotForm_Base_URL__c}),
  &quot;(Recommender JotForm URL not configured in CPL Config Custom Setting)&quot;,
  {!$Setup.CPL_Config__c.Recommender_JotForm_Base_URL__c}
    &amp; &quot;?appid=&quot; &amp; {!recordId}
    &amp; &quot;&amp;recType=Internship&quot;
    &amp; &quot;&amp;applicantName=&quot; &amp; URLENCODE(BLANKVALUE({!Get_App.Applicant_Account__r.FirstName}, &quot;&quot;))
    &amp; &quot;&amp;recName=&quot; &amp; URLENCODE(BLANKVALUE({!Confirm_Intern_Name}, &quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <description>Email body for the coach / professor recommendation request.</description>
        <name>coachEmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;Hi &quot; &amp; BLANKVALUE({!Confirm_Coach_Name}, &quot;there&quot;) &amp; &quot;,&quot; &amp; BR() &amp; BR() &amp; BLANKVALUE({!Get_App.Applicant_Account__r.FirstName}, &quot;A CPL Scholar applicant&quot;) &amp; &quot; has listed you as their coach / professor recommender for the CPL Scholar program. We&apos;d be grateful if you could submit a brief recommendation letter on their behalf.&quot; &amp; BR() &amp; BR() &amp; &quot;Please use this link to upload your letter:&quot; &amp; BR() &amp; BR() &amp; {!coachRequestURL} &amp; BR() &amp; BR() &amp; &quot;If you have questions, just reply to this email.&quot; &amp; BR() &amp; BR() &amp; &quot;Thank you,&quot; &amp; BR() &amp; &quot;CPL Team&quot;</expression>
    </formulas>
    <formulas>
        <description>Email body for the internship supervisor recommendation request.</description>
        <name>internEmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;Hi &quot; &amp; BLANKVALUE({!Confirm_Intern_Name}, &quot;there&quot;) &amp; &quot;,&quot; &amp; BR() &amp; BR() &amp; BLANKVALUE({!Get_App.Applicant_Account__r.FirstName}, &quot;A CPL Scholar applicant&quot;) &amp; &quot; has listed you as their internship supervisor recommender for the CPL Scholar program. We&apos;d be grateful if you could submit a brief recommendation letter on their behalf.&quot; &amp; BR() &amp; BR() &amp; &quot;Please use this link to upload your letter:&quot; &amp; BR() &amp; BR() &amp; {!internRequestURL} &amp; BR() &amp; BR() &amp; &quot;If you have questions, just reply to this email.&quot; &amp; BR() &amp; BR() &amp; &quot;Thank you,&quot; &amp; BR() &amp; &quot;CPL Team&quot;</expression>
    </formulas>
    <interviewLabel>App Confirm Materials {!$Flow.CurrentDateTime}</interviewLabel>
    <label>App Confirm Materials</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_App</name>
        <label>Get Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Materials_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Prospect_Scholar_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Materials_Task</name>
        <label>Get Materials Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Materials_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirm materials</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Save the 4 boolean Received fields + the captured recommender contact info onto the Application.</description>
        <name>Save_App_Fields</name>
        <label>Save App Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_All_Received</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Resume_Received__c</field>
            <value>
                <elementReference>Confirm_Resume</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Essay_Received__c</field>
            <value>
                <elementReference>Confirm_Essay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coach_Professor_Recommendation_Received__c</field>
            <value>
                <elementReference>Confirm_Coach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internship_Supervisor_Rec_Received__c</field>
            <value>
                <elementReference>Confirm_Intern</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coach_Professor_Name__c</field>
            <value>
                <elementReference>Confirm_Coach_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coach_Professor_Email__c</field>
            <value>
                <elementReference>Confirm_Coach_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internship_Supervisor_Name__c</field>
            <value>
                <elementReference>Confirm_Intern_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internship_Supervisor_Email__c</field>
            <value>
                <elementReference>Confirm_Intern_Email</elementReference>
            </value>
        </inputAssignments>
        <object>Prospect_Scholar_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Advance Application_Status__c to In Review (only fires when all 4 materials confirmed).</description>
        <name>Save_Status_InReview</name>
        <label>Save Status In Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Send_Coach</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>Prospect_Scholar_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Materials_Task</name>
        <label>Complete Materials Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Materials_Confirmed_Done</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Materials_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>Confirm_Materials_Screen</name>
        <label>Confirm Materials Received</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_App_Fields</targetReference>
        </connector>
        <fields>
            <name>Intro_Header</name>
            <fieldText>&lt;p&gt;Review the files attached to this Application (see the &lt;strong&gt;Files&lt;/strong&gt; related list on the record page) and check off which materials were received from &lt;strong&gt;{!Get_App.Applicant_Account__r.Name}&lt;/strong&gt;. For any recommendation letter that isn&apos;t received, you can email the recommender a link to upload their letter.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Resume</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_App.Resume_Received__c</elementReference>
            </defaultValue>
            <fieldText>Resume received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirm_Essay</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_App.Essay_Received__c</elementReference>
            </defaultValue>
            <fieldText>Essay received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirm_Coach</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_App.Coach_Professor_Recommendation_Received__c</elementReference>
            </defaultValue>
            <fieldText>Coach / Professor recommendation received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Send_Coach_Request_Toggle</name>
            <dataType>Boolean</dataType>
            <fieldText>Email the coach / professor a request to submit their letter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Confirm_Coach</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_Coach_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_App.Coach_Professor_Name__c</elementReference>
            </defaultValue>
            <fieldText>Coach / Professor name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Send_Coach_Request_Toggle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_Coach_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_App.Coach_Professor_Email__c</elementReference>
            </defaultValue>
            <fieldText>Coach / Professor email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Send_Coach_Request_Toggle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_Intern</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_App.Internship_Supervisor_Rec_Received__c</elementReference>
            </defaultValue>
            <fieldText>Internship supervisor recommendation received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Send_Intern_Request_Toggle</name>
            <dataType>Boolean</dataType>
            <fieldText>Email the internship supervisor a request to submit their letter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Confirm_Intern</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_Intern_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_App.Internship_Supervisor_Name__c</elementReference>
            </defaultValue>
            <fieldText>Internship supervisor name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Send_Intern_Request_Toggle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_Intern_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_App.Internship_Supervisor_Email__c</elementReference>
            </defaultValue>
            <fieldText>Internship supervisor email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Send_Intern_Request_Toggle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Materials_Confirmed_Done</name>
        <label>Materials Confirmation Done</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Done_Text</name>
            <fieldText>&lt;p&gt;&#9989; Step complete. Any recommender requests have been emailed. If all 4 materials were confirmed, this application is now &lt;strong&gt;In Review&lt;/strong&gt;. Next: set up the final interview.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Error</name>
        <label>Flow Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&#10060; Something went wrong:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_App</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>The Prospect Scholar Application Id passed in from the Action Plan stepper LWC.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
