cpl-crm-salesforce/force-app/main/default/flows/Lead_Convert_Or_Disqualify.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Converts the lead into a CPL member (Person Account). The Lead Conversion Set CPL Lifecycle flow then applies the chosen lifecycle.</description>
        <name>Convert_Lead_Action</name>
        <label>Convert Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LeadConvertAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Converted_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadConvertAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Links the converted lead&apos;s files (resume, etc.) onto the new CPL member account.</description>
        <name>Transfer_Files_Action</name>
        <label>Transfer Files</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LeadFileTransferAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Outcome_Done</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Converted_Account.ConvertedAccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadFileTransferAction</nameSegment>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Stores the chosen member lifecycle so it carries through the standard lead conversion.</description>
        <name>Set_Intended_Lifecycle</name>
        <label>Set Intended Lifecycle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Intended_CPL_Lifecycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Member_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Marks a lead Unqualified when the intake host disqualifies it. Owner is left unchanged.</description>
        <name>Set_Unqualified_Status</name>
        <label>Set Unqualified Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Lead</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Athlete</name>
        <choiceText>Athlete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Athlete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Convert</name>
        <choiceText>Convert to CPL Member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Convert</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Disqualify</name>
        <choiceText>Disqualify</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disqualify</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Prospect</name>
        <choiceText>Prospect (interested in scholarship pipeline)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prospect</stringValue>
        </value>
    </choices>
    <decisions>
        <description>After the task is completed, convert the lead only when the chosen outcome is Convert.</description>
        <name>Do_Convert</name>
        <label>Do Convert?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Outcome_Done</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Disqualified</defaultConnectorLabel>
        <rules>
            <name>Convert_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Outcome_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Convert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Lead_Action</targetReference>
            </connector>
            <label>Convert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_Outcome</name>
        <label>Route Outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Choose_Member_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Convert</defaultConnectorLabel>
        <rules>
            <name>Is_Disqualify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Outcome_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Unqualified_Status</targetReference>
            </connector>
            <label>Disqualify</label>
        </rules>
    </decisions>
    <description>Completes the Disqualify / Convert intake step. Disqualifying marks the lead Unqualified; converting captures the intended CPL member lifecycle (Athlete or Prospect) and prompts the user to use the standard Convert button. The lead owner stays with the intake queue.</description>
    <environments>Default</environments>
    <formulas>
        <name>Outcome_Message</name>
        <dataType>String</dataType>
        <expression>IF({!Outcome_Choice} = &quot;Disqualify&quot;, &quot;This lead has been marked Unqualified and the Disqualify / Convert step is complete.&quot;, &quot;This lead has been converted into a CPL member with the selected lifecycle. The Disqualify / Convert step is complete.&quot;)</expression>
    </formulas>
    <interviewLabel>Lead Convert or Disqualify {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Convert or Disqualify</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the account created by the conversion so the lead files can be relinked to it.</description>
        <name>Get_Converted_Account</name>
        <label>Get Converted Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_Files_Action</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>ConvertedAccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Outcome</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Marks the Disqualify / Convert action-plan task complete so the action plan finishes.</description>
        <name>Complete_Outcome_Task</name>
        <label>Complete Outcome Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Do_Convert</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Disqualify / Convert</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Save_Lead</name>
        <label>Save Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Complete_Outcome_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>Choose_Member_Type</name>
        <label>Choose Member Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirm_Convert</targetReference>
        </connector>
        <fields>
            <name>Member_Type_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Choose the CPL member type.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This sets the lifecycle the member will start with after you convert the lead.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Member_Type</name>
            <choiceReferences>Choice_Athlete</choiceReferences>
            <choiceReferences>Choice_Prospect</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of CPL member should this become?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Outcome</name>
        <label>Choose Outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Route_Outcome</targetReference>
        </connector>
        <fields>
            <name>Choose_Outcome_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Complete the intake outcome.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Disqualify the lead, or convert it into a CPL member.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Outcome_Choice</name>
            <choiceReferences>Choice_Disqualify</choiceReferences>
            <choiceReferences>Choice_Convert</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the outcome for this lead?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Preview screen shown after the member type is selected, before the conversion fires. Lets the intake host sanity-check what&apos;s about to happen and click back to revise if needed.</description>
        <name>Confirm_Convert</name>
        <label>Confirm Conversion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Intended_Lifecycle</targetReference>
        </connector>
        <fields>
            <name>Confirm_Convert_Preview</name>
            <fieldText>&lt;p&gt;Ready to convert &lt;strong&gt;{!Get_Lead.Name}&lt;/strong&gt;:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Creates a new CPL Member &lt;em&gt;Person Account&lt;/em&gt; with lifecycle &lt;strong&gt;{!Member_Type}&lt;/strong&gt;.&lt;/li&gt;&lt;li&gt;Transfers any files attached to this Lead onto the new Person Account.&lt;/li&gt;&lt;li&gt;Marks the &quot;Disqualify / Convert&quot; Task complete.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Click Next to confirm, or Previous to revise.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Error</name>
        <label>Outcome Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flow_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The outcome could not be saved.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No changes were saved. Try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error detail: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outcome_Done</name>
        <label>Outcome Recorded</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Outcome_Done_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Outcome recorded.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Outcome_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Lead record Id from the action plan launch.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
