cpl-crm-salesforce/force-app/main/default/flows/Lead_Scholar_Evaluation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <description>Initialize the evaluation with the lead context so the screens have a record to bind to.</description>
        <name>Init_Evaluation</name>
        <label>Initialize Evaluation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Evaluation.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation.Evaluation_Target_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scholar Lead</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation.Evaluation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluation_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Evaluator is a User, so clear any Contact value.</description>
        <name>Clear_Evaluator_Contact</name>
        <label>Clear Evaluator Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Evaluation.Evaluator_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Evaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Evaluator is a Contact, so clear any User value.</description>
        <name>Clear_Evaluator_User</name>
        <label>Clear Evaluator User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Evaluation.Evaluator_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Evaluation</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Require a rating before continuing, since the lead's average rating is built from these.</description>
        <name>Rating_Provided_Decision</name>
        <label>Rating Provided?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rating_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No rating</defaultConnectorLabel>
        <rules>
            <name>Has_Rating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluation.Rating__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluator</targetReference>
            </connector>
            <label>Rating provided</label>
        </rules>
    </decisions>
    <decisions>
        <description>Route based on whether the evaluator is a User or a Contact.</description>
        <name>Evaluator_Type_Decision</name>
        <label>Evaluator Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Evaluator_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not selected</defaultConnectorLabel>
        <rules>
            <name>Is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluation.Evaluator_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Evaluator_Contact</targetReference>
            </connector>
            <label>User</label>
        </rules>
        <rules>
            <name>Is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluation.Evaluator_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Evaluator_User</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <description>Guided form to log an evaluation (interview, call, or other interaction) for a scholar lead. Captures the interaction details, an evaluator rating, and the evaluator (internal user or external contact), then creates an Evaluation linked to the lead.</description>
    <environments>Default</environments>
    <interviewLabel>Lead Scholar Evaluation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Scholar Evaluation</label>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the evaluation record linked to the scholar lead.</description>
        <name>Create_Evaluation</name>
        <label>Create Evaluation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <inputReference>Evaluation</inputReference>
    </recordCreates>
    <screens>
        <description>Capture details of the interaction being evaluated.</description>
        <name>Evaluation_Details</name>
        <label>Evaluation Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Rating_Provided_Decision</targetReference>
        </connector>
        <fields>
            <name>details_header</name>
            <fieldText>&lt;h2&gt;&lt;span style=&quot;color: rgb(91, 34, 108);&quot;&gt;Interaction &amp; Rating&lt;/span&gt;&lt;/h2&gt;&lt;p&gt;Record an interview, call, or other interaction with this scholar lead and rate it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Evaluation.Evaluation_Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Evaluation.Evaluation_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Evaluation.Rating__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Evaluation.Strengths__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Evaluation.Areas_for_Improvement__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Evaluation.Additional_Comments__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Capture who performed the evaluation.</description>
        <name>Evaluator</name>
        <label>Evaluator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluator_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>evaluator_header</name>
            <fieldText>&lt;h2&gt;&lt;span style=&quot;color: rgb(135, 36, 150);&quot;&gt;Evaluator&lt;/span&gt;&lt;/h2&gt;&lt;p&gt;Choose whether the evaluator is an internal User or an external Contact, then select them.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Evaluation.Evaluator_Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Evaluation.Evaluator_Relationship__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Evaluation.Feedback_Source__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Evaluation.Evaluator_Contact__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Evaluation.Evaluator_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Contact</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Evaluation.Evaluator_User__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Evaluation.Evaluator_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>User</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Shown when no rating was selected.</description>
        <name>Rating_Required</name>
        <label>Rating Required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluation_Details</targetReference>
        </connector>
        <fields>
            <name>rating_required_text</name>
            <fieldText>&lt;h2&gt;&lt;span style=&quot;color: rgb(195, 31, 31);&quot;&gt;Rating Required&lt;/span&gt;&lt;/h2&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please go back and rate this interaction (1-5) before continuing.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Shown when the evaluator type was not selected.</description>
        <name>Evaluator_Required</name>
        <label>Evaluator Required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluator</targetReference>
        </connector>
        <fields>
            <name>evaluator_required_text</name>
            <fieldText>&lt;h2&gt;&lt;span style=&quot;color: rgb(195, 31, 31);&quot;&gt;Evaluator Required&lt;/span&gt;&lt;/h2&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please go back and select whether the evaluator is a User or a Contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Confirmation that the evaluation was saved.</description>
        <name>Done</name>
        <label>Done</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>done_text</name>
            <fieldText>&lt;h2&gt;&lt;span style=&quot;color: rgb(33, 119, 51);&quot;&gt;Evaluation saved&lt;/span&gt;&lt;/h2&gt;&lt;p&gt;The evaluation has been logged for this scholar lead and the average rating will update automatically.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Init_Evaluation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Evaluation record being built across the screens.</description>
        <name>Evaluation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Evaluation__c</objectType>
    </variables>
    <variables>
        <description>The Id of the scholar lead this evaluation is for. Passed automatically by the record action.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
