cpl-crm-salesforce/force-app/main/default/flows/Lead_Conversion_Set_CPL_Lifecycle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Primary_Sport</name>
        <label>Set Primary Sport</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PrimarySport</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Converted_Lead.Primary_Sport__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_CPL_Lifecycle_Athlete</targetReference>
        </connector>
    </assignments>
    <description>Automatically sets the CPL Lifecycle on the CPL Member (Person Account) when a Lead is converted. Uses Lead.Intended_CPL_Lifecycle__c (Athlete or Prospect) captured during the intake action plan; defaults to Athlete if blank.</description>
    <environments>Default</environments>
    <formulas>
        <description>Lifecycle to apply to the new CPL member: the lead&apos;s intended lifecycle if set, otherwise Athlete.</description>
        <name>LifecycleValue</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Get_Converted_Lead.Intended_CPL_Lifecycle__c})), "Athlete", TEXT({!Get_Converted_Lead.Intended_CPL_Lifecycle__c}))</expression>
    </formulas>
    <interviewLabel>Lead Conversion Set CPL Lifecycle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Conversion Set CPL Lifecycle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Lead associated with the CPL Member record.</description>
        <name>Get_Converted_Lead</name>
        <label>Get Converted Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Intake_Review_Queue_ID_by_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>LastModifiedById</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the intake review queue by name.</description>
        <name>Get_Intake_Review_Queue_ID_by_Name</name>
        <label>Get Intake Review Queue ID by Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Primary_Sport</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intake_Review_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set the initial state of the person member.</description>
        <name>Set_CPL_Lifecycle_Athlete</name>
        <label>Set CPL Lifecycle Athlete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_All_Submission_Forms</targetReference>
        </connector>
        <inputAssignments>
            <field>CPL_Student_Lifecycle__c</field>
            <value>
                <elementReference>LifecycleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>College_Year__pc</field>
            <value>
                <elementReference>Get_Converted_Lead.College_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commits_to_CPL_mantra__pc</field>
            <value>
                <elementReference>Get_Converted_Lead.Commits_to_CPL_mantra__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Intake_Review_Queue_ID_by_Name.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Resume_URL__c</field>
            <value>
                <elementReference>Get_Converted_Lead.Primary_Resume_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Sport__pc</field>
            <value>
                <elementReference>PrimarySport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>Get_Converted_Lead.Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School__pc</field>
            <value>
                <elementReference>SaveSchoolID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Lead_Object__pc</field>
            <value>
                <elementReference>Get_Converted_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_CPL__pc</field>
            <value>
                <elementReference>Get_Converted_Lead.Why_CPL_Scholar__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update all the submission forms to be linked to the contact.</description>
        <name>Update_All_Submission_Forms</name>
        <label>Update All Submission Forms</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Matched_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Converted_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Matched_Contact__c</field>
            <value>
                <elementReference>$Record.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matched_Lead__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Form_Submission__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Converted_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Save the account id.</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>PrimarySport</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaveSchoolID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Converted_Lead.School__r.Id</elementReference>
        </value>
    </variables>
</Flow>
