cpl-crm-salesforce/force-app/main/default/flows/Scholar_Finalist_Materials_Router.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>If we found the Application by appid, apply the submitted data. Otherwise flag for manual review.</description>
        <name>Decision_App_Found</name>
        <label>App Found?</label>
        <locationX>125</locationX>
        <locationY>306</locationY>
        <defaultConnector>
            <targetReference>Flag_Needs_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - App not found</defaultConnectorLabel>
        <rules>
            <name>Yes_App_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Submission_Matched</targetReference>
            </connector>
            <label>Yes - App Found</label>
        </rules>
    </decisions>
    <description>Routes Scholar Finalist Materials form submissions onto the matching Prospect Scholar Application. Fires record-triggered on Form_Submission__c create where RecordType = Scholar_Finalist_Materials and Materials_Processed__c = false. Looks up the Application by Submitted_App_Id__c, copies the submitted URLs / names / emails onto it, flips the relevant Received booleans, sets Matched_Application__c, and marks the submission as Materials_Processed.</description>
    <environments>Default</environments>
    <formulas>
        <name>athleticReceivedFinal</name>
        <dataType>Boolean</dataType>
        <expression>OR({!Get_Application.Athletic_Received__c}, {!athleticWasSubmitted})</expression>
    </formulas>
    <formulas>
        <description>True when applicant submitted an Athletic detail.</description>
        <name>athleticWasSubmitted</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Submitted_Athletic_Detail__c}))</expression>
    </formulas>
    <formulas>
        <description>True when a Coach letter URL was submitted.</description>
        <name>coachLetterWasSubmitted</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Submitted_Coach_Letter_URL__c}))</expression>
    </formulas>
    <formulas>
        <name>coachReceivedFinal</name>
        <dataType>Boolean</dataType>
        <expression>OR({!Get_Application.Coach_Professor_Recommendation_Received__c}, {!coachLetterWasSubmitted})</expression>
    </formulas>
    <formulas>
        <name>essayReceivedFinal</name>
        <dataType>Boolean</dataType>
        <expression>OR({!Get_Application.Essay_Received__c}, {!essayWasSubmitted})</expression>
    </formulas>
    <formulas>
        <description>True when the Essay text was submitted.</description>
        <name>essayWasSubmitted</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Submitted_Essay__c}))</expression>
    </formulas>
    <formulas>
        <description>File extension from original PathOnClient — defaults to pdf.</description>
        <name>fileExt</name>
        <dataType>String</dataType>
        <expression>IF(RIGHT(LOWER({!Get_Content_Version.PathOnClient}), 5) = &quot;.docx&quot;, &quot;docx&quot;,
  IF(RIGHT(LOWER({!Get_Content_Version.PathOnClient}), 4) = &quot;.doc&quot;, &quot;doc&quot;,
    &quot;pdf&quot;))</expression>
    </formulas>
    <formulas>
        <description>Display label for the file type, derived from a Zapier-set marker in the original Title.</description>
        <name>fileTypeLabel</name>
        <dataType>String</dataType>
        <expression>CASE(
  IF(CONTAINS(UPPER({!Get_Content_Version.Title}), &quot;_RESUME_&quot;), 1,
    IF(CONTAINS(UPPER({!Get_Content_Version.Title}), &quot;_COACH_&quot;), 2,
      IF(CONTAINS(UPPER({!Get_Content_Version.Title}), &quot;_INTERN_&quot;), 3, 0))),
  1, &quot;Resume&quot;,
  2, &quot;Coach Professor Recommendation&quot;,
  3, &quot;Internship Supervisor Recommendation&quot;,
  &quot;Material&quot;
)</expression>
    </formulas>
    <formulas>
        <name>financeReceivedFinal</name>
        <dataType>Boolean</dataType>
        <expression>OR({!Get_Application.Financial_Aid_Info_Received__c}, {!financeWasSubmitted})</expression>
    </formulas>
    <formulas>
        <description>True when applicant submitted a Financial Aid detail (reuses the existing Financial_Aid_Scholarship_Grant_Details__c field on Form_Submission__c).</description>
        <name>financeWasSubmitted</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Financial_Aid_Scholarship_Grant_Details__c}))</expression>
    </formulas>
    <formulas>
        <description>True when an Internship Supervisor letter URL was submitted.</description>
        <name>internLetterWasSubmitted</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Submitted_Internship_Letter_URL__c}))</expression>
    </formulas>
    <formulas>
        <name>internReceivedFinal</name>
        <dataType>Boolean</dataType>
        <expression>OR({!Get_Application.Internship_Supervisor_Rec_Received__c}, {!internLetterWasSubmitted})</expression>
    </formulas>
    <formulas>
        <name>leadershipReceivedFinal</name>
        <dataType>Boolean</dataType>
        <expression>OR({!Get_Application.Leadership_Received__c}, {!leadershipWasSubmitted})</expression>
    </formulas>
    <formulas>
        <description>True when applicant submitted a Leadership detail.</description>
        <name>leadershipWasSubmitted</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Submitted_Leadership_Detail__c}))</expression>
    </formulas>
    <formulas>
        <description>New PathOnClient with proper extension.</description>
        <name>newFilePath</name>
        <dataType>String</dataType>
        <expression>{!newFileTitle} &amp; &quot;.&quot; &amp; {!fileExt}</expression>
    </formulas>
    <formulas>
        <description>New file title: &quot;&lt;Type&gt; - &lt;Scholar Name&gt;&quot;.</description>
        <name>newFileTitle</name>
        <dataType>String</dataType>
        <expression>{!fileTypeLabel} &amp; &quot; - &quot; &amp; BLANKVALUE({!Get_Application.Applicant_Account__r.FirstName}, &quot;&quot;) &amp; &quot; &quot; &amp; BLANKVALUE({!Get_Application.Applicant_Account__r.LastName}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>OR a new Received flag with the existing value so partial resubmissions never demote a previously-true flag back to false.</description>
        <name>resumeReceivedFinal</name>
        <dataType>Boolean</dataType>
        <expression>OR({!Get_Application.Resume_Received__c}, {!resumeWasSubmitted})</expression>
    </formulas>
    <formulas>
        <description>True when the Resume URL was submitted.</description>
        <name>resumeWasSubmitted</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Submitted_Resume_URL__c}))</expression>
    </formulas>
    <interviewLabel>Scholar Finalist Materials Router {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scholar Finalist Materials Router</label>
    <loops>
        <description>Iterate over each ContentDocumentLink attached to this submission to rename and re-parent the file.</description>
        <name>Loop_Submission_Files</name>
        <label>Loop Submission Files</label>
        <locationX>50</locationX>
        <locationY>470</locationY>
        <collectionReference>Get_Submission_Content_Links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Content_Version</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Re-parent the file to the Application by inserting a new ContentDocumentLink.</description>
        <name>Create_Application_Link</name>
        <label>Create Application Link</label>
        <locationX>125</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>Delete_Submission_Link</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Delete_Submission_Link</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Loop_Submission_Files.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordDeletes>
        <description>Delete the original submission&apos;s ContentDocumentLink — the file is now linked to the Application.</description>
        <name>Delete_Submission_Link</name>
        <label>Delete Submission Link</label>
        <locationX>125</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>Loop_Submission_Files</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Loop_Submission_Files</targetReference>
        </faultConnector>
        <inputReference>Loop_Submission_Files</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Find the Prospect Scholar Application referenced by the submission&apos;s appid.</description>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>125</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_App_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Submitted_App_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Prospect_Scholar_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch the latest ContentVersion for the current iteration&apos;s ContentDocumentId.</description>
        <name>Get_Content_Version</name>
        <label>Get Content Version</label>
        <locationX>125</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Content_Version</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Loop_Submission_Files</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Submission_Files.ContentDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query all ContentDocumentLinks attached to this submission so we can rename and re-parent them to the Application.</description>
        <name>Get_Submission_Content_Links</name>
        <label>Get Submission Content Links</label>
        <locationX>125</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Submission_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Flag the submission Needs_Review so an intake host can investigate why the appid didn&apos;t match any Application.</description>
        <name>Flag_Needs_Review</name>
        <label>Flag Needs Review</label>
        <locationX>125</locationX>
        <locationY>306</locationY>
        <inputAssignments>
            <field>Materials_Processed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Needs_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Status__c</field>
            <value>
                <stringValue>Needs Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Link the submission to the Application and mark it Matched to Application so we don&apos;t reprocess.</description>
        <name>Save_Submission_Matched</name>
        <label>Save Submission Matched</label>
        <locationX>125</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>Update_Application_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Materials_Processed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Status__c</field>
            <value>
                <stringValue>Matched to Application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect_Scholar_Application__c</field>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Copy the submitted data onto the Application: URLs, names, emails, and Received booleans (OR-merged with existing so partial resubmissions never demote a true flag).</description>
        <name>Update_Application_Fields</name>
        <label>Update Application Fields</label>
        <locationX>737</locationX>
        <locationY>381</locationY>
        <connector>
            <targetReference>Get_Submission_Content_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Athletic_Detail__c</field>
            <value>
                <elementReference>$Record.Submitted_Athletic_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Athletic_Received__c</field>
            <value>
                <elementReference>athleticReceivedFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coach_Professor_Email__c</field>
            <value>
                <elementReference>$Record.Submitted_Coach_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coach_Professor_Name__c</field>
            <value>
                <elementReference>$Record.Submitted_Coach_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coach_Professor_Recommendation_Received__c</field>
            <value>
                <elementReference>coachReceivedFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Essay_Received__c</field>
            <value>
                <elementReference>essayReceivedFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Essay_Text__c</field>
            <value>
                <elementReference>$Record.Submitted_Essay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Aid_Detail__c</field>
            <value>
                <elementReference>$Record.Financial_Aid_Scholarship_Grant_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Aid_Info_Received__c</field>
            <value>
                <elementReference>financeReceivedFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GPA__c</field>
            <value>
                <elementReference>$Record.Submitted_GPA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internship_Supervisor_Email__c</field>
            <value>
                <elementReference>$Record.Submitted_Internship_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internship_Supervisor_Name__c</field>
            <value>
                <elementReference>$Record.Submitted_Internship_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internship_Supervisor_Rec_Received__c</field>
            <value>
                <elementReference>internReceivedFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leadership_Detail__c</field>
            <value>
                <elementReference>$Record.Submitted_Leadership_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leadership_Received__c</field>
            <value>
                <elementReference>leadershipReceivedFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resume_Received__c</field>
            <value>
                <elementReference>resumeReceivedFinal</elementReference>
            </value>
        </inputAssignments>
        <object>Prospect_Scholar_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Rename the ContentVersion to &quot;&lt;Type&gt; - &lt;Scholar Name&gt;.&lt;ext&gt;&quot;.</description>
        <name>Update_Content_Version</name>
        <label>Update Content Version</label>
        <locationX>670</locationX>
        <locationY>618</locationY>
        <connector>
            <targetReference>Create_Application_Link</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Loop_Submission_Files</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Content_Version.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PathOnClient</field>
            <value>
                <elementReference>newFilePath</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>newFileTitle</elementReference>
            </value>
        </inputAssignments>
        <object>ContentVersion</object>
    </recordUpdates>
    <start>
        <locationX>286</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
        <filterFormula>AND(
  {!$Record.RecordType.DeveloperName} = &quot;Scholar_Finalist_Materials&quot;,
  {!$Record.Materials_Processed__c} = FALSE,
  NOT(ISBLANK({!$Record.Submitted_App_Id__c}))
)</filterFormula>
        <object>Form_Submission__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
