cpl-crm-salesforce/force-app/main/default/flows/Send_Scholarship_Invite_Confirm_Eligibility.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Scholarship_Invite</name>
        <label>Send Scholarship Invite</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Mark_Invite_Sent</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Get_Applicant_Account.PersonEmail</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>$User.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CPL Scholar Finalist Invitation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ScholarshipFinalistInviteBody</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Decide if the invite requirements have been completed.</description>
        <name>Check_Invite_Requirements</name>
        <label>Check Invite Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Scholarship_Invite_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invite Missing or Not Confirmed</defaultConnectorLabel>
        <rules>
            <name>Invite_Sent_and_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prospect_Application.Scholarship_Invite_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Prospect_Application.Scholarship_Invite_Confirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Invite Sent and Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_Invite_Now</name>
        <label>Confirm Invite Now?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Do not confirm yet</defaultConnectorLabel>
        <rules>
            <name>Confirm_now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmInviteNow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Invite_Confirmed</targetReference>
            </connector>
            <label>Confirm now</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Invite_Email</name>
        <label>Send Invite Email?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Confirm_Invite_Now</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not send email</defaultConnectorLabel>
        <rules>
            <name>Send_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendInviteNow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Scholarship_Invite</targetReference>
            </connector>
            <label>Send email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Applicant_Email</name>
        <label>Applicant Email Available?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Applicant_Email_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Missing</defaultConnectorLabel>
        <rules>
            <name>Email_Available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SendInviteNow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Applicant_Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Invite_Email</targetReference>
            </connector>
            <label>Email Available</label>
        </rules>
    </decisions>
    <description>Launched from the Prospect Scholar Application record page. Sends the scholarship invite, records invite status, and moves confirmed applicants to document collection.</description>
    <environments>Default</environments>
    <interviewLabel>Send Scholarship Invite / Confirm Eligibility {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Scholarship Invite / Confirm Eligibility</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Applicant_Account</name>
        <label>Get Applicant Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Applicant_Email</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Prospect_Application.Applicant_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the record of the prospect scholar based on where it came from.</description>
        <name>Get_Prospect_Application</name>
        <label>Get Prospect Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Invite_Requirements</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Prospect_Scholar_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Invite_Confirmed</name>
        <label>Mark Invite Confirmed and Start Document Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Prospect_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Status__c</field>
            <value>
                <stringValue>Collecting Documents</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scholarship_Invite_Confirmed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scholarship_Invite_Confrimed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scholarship_Invite_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scholarship_Invite_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scholarship_Invite_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <object>Prospect_Scholar_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Invite_Sent</name>
        <label>Mark Invite Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_Invite_Now</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Prospect_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Scholarship_Invite_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scholarship_Invite_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scholarship_Invite_Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Prospect_Scholar_Application__c</object>
    </recordUpdates>
    <screens>
        <name>Applicant_Email_Required</name>
        <label>Applicant Contact Required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Applicant_Email_Required_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Applicant email required&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The scholarship invite email cannot be sent because the applicant account does not have a Person Email value. Confirm the application is linked to the applicant&apos;s Person Account and that the Person Account has an email address, then run this action again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Error</name>
        <label>Scholarship Invite Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flow_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The scholarship invite action could not finish.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No application changes were completed for this step. Check that the applicant account has a valid email address and that Salesforce email sending is available, then try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error detail: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to get the user to send scholarship invite.</description>
        <name>Scholarship_Invite_Required</name>
        <label>Scholarship Invite Required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Applicant_Account</targetReference>
        </connector>
        <fields>
            <name>display_test_reason</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Scholarship Invite Required&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This application cannot move forward until the scholarship invite has been sent and confirmed. Once confirmed, the application moves to Collecting Documents.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Status:&lt;/p&gt;&lt;p&gt;Invite Sent: {!Get_Prospect_Application.Scholarship_Invite_Sent__c}&lt;/p&gt;&lt;p&gt;Invite Confirmed: {!Get_Prospect_Application.Scholarship_Invite_Confirmed__c}&lt;/p&gt;&lt;p&gt;Invite Status: {!Get_Prospect_Application.Scholarship_Invite_Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SendInviteNow</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Send scholarship invite email now</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ConfirmInviteNow</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Mark scholarship invite as confirmed and begin document collection</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Prospect_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ScholarshipFinalistInviteBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;{!Get_Applicant_Account.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;I am so excited that you have decided that a career in Wealth Management as a Financial Advisor is your goal. I am also delighted to share that you have been selected as a &lt;/span&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;CPL Scholar Finalist&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;This recognition reflects both your accomplishments to date and your potential to contribute to a community of exceptional women who are committed to guiding, lifting, and inspiring one another throughout their careers. By joining this elite group, you will not only benefit from their wisdom and support — you will also be expected to extend the same to others as you grow.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;To complete the review process, please provide the following in one consolidated email:&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;• Your most recent resume, including GPA, leadership activities, and athletic achievements&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;• Two letters of recommendation:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;One from your coach or a college professor&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;One from your summer internship supervisor&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;• If applicable, a list of any financial aid, scholarships, or grants you are receiving or have received&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;• A short essay describing your commitment to living out the CPL mantra, your aspirations for a career in wealth management, and any additional personal story you’d like to share that will strengthen your application&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;If you are selected as a CPL Scholar, you will receive a $10,000 scholarship/grant for your senior year. More importantly, you will gain lifelong access to a network of extraordinary women — and I will personally serve as your coach and mentor.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Together, we will build this community and continue our mission to change the face of wealth management — and by extension, the world.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Congratulations once again on being selected as a CPL Scholar Finalist. I cannot wait to see the impact you will make in this next chapter.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;With pride and excitement,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Lisa&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;img src=&quot;https://climbpauseliftfoundationinc.lightning.force.com/sfc/servlet.shepherd/version/download/068Vx00000l2sJ2?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;logo2.png&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>The Prospect Scholar Application record Id from the record action.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
