cpl-crm-salesforce/force-app/main/default/flows/Send_Finalist_Materials_Invite.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Finalist_Materials_Invite_Email</name>
        <label>Send Finalist Materials Invite Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ScholarshipInviteEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Invite_Sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>applicationId</name>
            <value>
                <elementReference>Get_Prospect_Application.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ScholarshipInviteEmailAction</nameSegment>
        <offset>0</offset>
        <versionString>1.0</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Send_Invite_Now</name>
        <label>Send Invite Now?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Do not send now</defaultConnectorLabel>
        <rules>
            <name>Send_now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendMaterialsInviteNow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Finalist_Materials_Invite_Email</targetReference>
            </connector>
            <label>Send now</label>
        </rules>
    </decisions>
    <description>Launched from the Prospect Scholar Application record page. Sends the finalist materials invite and generates the personalized materials form link.</description>
    <environments>Default</environments>
    <interviewLabel>Send Finalist Materials Invite {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Finalist Materials Invite</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Applicant_Account</name>
        <label>Get Applicant Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Applicant_Email_Required</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Prospect_Application.Applicant_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prospect_Application</name>
        <label>Get Prospect Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invite_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Prospect_Scholar_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Applicant_Email_Required</name>
        <label>Applicant Email Required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Applicant_Email_Required_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Applicant email required&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The finalist materials invite cannot be sent because the applicant account does not have a Person Email value. Confirm the application is linked to the applicant&apos;s Person Account and that the Person Account has an email address, then run this action again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Error</name>
        <label>Finalist Materials Invite Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flow_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The finalist materials invite action could not finish.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No email was sent. Check that the applicant account has a valid email address and that Salesforce email sending is available, then try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error detail: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invite_Screen</name>
        <label>Send Finalist Materials Invite</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Invite_Now</targetReference>
        </connector>
        <fields>
            <name>Invite_Screen_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Send finalist materials invite&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This sends the finalist materials email and creates the personalized link for the application&apos;s secure materials form.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The applicant will be asked to submit:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Most recent resume, including GPA, leadership activities, and athletic achievements&lt;/li&gt;&lt;li&gt;Two recommendation letters: one from a coach or college professor, and one from the summer internship supervisor&lt;/li&gt;&lt;li&gt;Any financial aid, scholarships, or grants received, if applicable&lt;/li&gt;&lt;li&gt;A short essay about the CPL mantra, wealth management goals, and personal story&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SendMaterialsInviteNow</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Send finalist materials invite now</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invite_Sent</name>
        <label>Invite Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invite_Sent_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Finalist materials invite sent.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The personalized materials link has been generated and emailed to the applicant.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Prospect_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Prospect Scholar Application record Id from the record action.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
